version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/" 
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore(deps)"
    labels:
      - "dependencies"
  - package-ecosystem: "github-actions"
    directory: "/" 
    schedule:
      interval: "daily"
    labels:
      - "dependencies"