name: Auto-label Dependabot

on:
  pull_request:
    types: [opened, reopened]
    branches:
      - main

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Add labels to Dependabot PRs
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: dependencies
        if: github.actor == 'dependabot[bot]'